
#Header{
    border: solid 8px black;
    background-color: #8E41D5;
    color: #FFBC00;
    font-size: 40px;
    font-family: "Passion One";
}

#bow{
    color: #FFBC00;
    font-size: 20px;
    border: solid 4px;
}